body {
  width: 775px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #222;
  color: #ddd;
}

#en_tete {
  width: 775px;
  height: 100px;
  background-color: rgb(169, 182, 209);
  margin-bottom: 10px;
  color: black;
  padding: 15px 0 0 30px;
}

#menu {
  float: left;
  width: 120px;
  margin-bottom: 10px;
}

#menu_right {
  float: right;
  width: 120px;
  margin-bottom: 10px;
}

#corps {
  margin-left: 140px;
  margin-bottom: 20px;
}

#pied_de_page {
  text-align: center;
  margin-top: 230px;
  color: black;
  background-color: rgb(169, 182, 209);
}

ul#menu_horizontale {
  list-style-type: none; /* Car sinon les puces se placent n'importe où */
}

ul#menu_horizontale li {
  display: inline; /*Pour mettre les puces en lignes et non en colonnes*/
}

a {
  text-decoration: none;
  color: rgb(169, 182, 209);
}

a:hover {
  text-decoration: underline;
}

.autor {
  color: black;
}

ul {
  color: rgb(169, 182, 209);
}

.description {
  background-color: rgb(75, 71, 71);
}

label {
  color: #ddd;
}

table,
th,
td {
  border: 3px ridge rgb(169, 182, 209);
  border-collapse: collapse;
  padding: 4px;
}

.button {
  width: 95px;
  height: 35px;
  cursor: pointer;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin: 10px;
}

.button a {
  color: black;
}

.deleteButton {
  background-color: rgb(255, 110, 110);
}

.auteur_titre_non_lu {
  background-color: rgb(255, 110, 110);
}

.titre_non_lu {
  background-color: rgb(255, 150, 150);
}

.auteur_titre_lu {
  background-color: rgb(255, 180, 180);
}

.titre_lu {
  background-color: rgb(255, 204, 204);
}

.auteur_agora {
  background-color: rgb(173, 199, 186);
}

.message_agora {
  background-color: rgb(196, 255, 218);
}
